@{
  Layout = "_Layout";
}

<form action="/vendors" method="post">
<label for="vendor-name">Name:</label>
<input name="vendorInput" id="vendor-name" type="text">
<label for="vendor-description">Description</label>
<input name="vendorInput" id="vendor-description" type="text">
<button type="submit">Submit</button>
</form>