@{
  Layout = "_Layout";
}

<form id="order-form" action="/vendors/{id}" method="post">
<label for="order-form-vendor-name">Vendor Name:</label>
<input name="orderInputVendorName" id="order-form-vendor-name" type="text">
<label for="sourdough" value="sourdough" name="type">Sourdough: </label>
<input type="number" id="sourdough" name="amount">
<label for="baguette" value="baguette" name="type">Baguette: </label>
<input type="number" id="baguette" name="amount">
<label for="rye" value="rye" name="type">Rye: </label>
<input type="number" id="rye" name="amount">
<label for="whole-wheat" value="whole wheat" name="type">Whole Wheat: </label>
<input type="number" id="whole-wheat" name="amount">
<label for="pumpernickle" value="pumpernickle" name="type">Pumpernickle: </label>
<input type="number" id="pumpernickle" name="amount">
<label for="blueberry-muffin" value="blueberry muffin" name="type">Blueberry Muffin: </label>
<input type="number" id="blueberry-muffin" name="amount">
<label for="bran-muffin" value="bran muffin" name="type">Bran Muffin: </label>
<input type="number" id="bran-muffin" name="amount">
<label for="criossant" value="criossant" name="type">Criossant: </label>
<input type="number" id="criossant" name="amount">
<label for="marionberry-scone"value="marionberry scone" name="type">Marionberry Scone: </label>
<input type="number" id="marionberry-scone" name="amount">
<button type="submit">Submit</button>
</form>